<nav class="navbar navbar-expand-lg navbar-dark bg-info">
  <a class="navbar-brand" style="color:white;">Server Yönetim Sistemi</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>
</nav>

<ng-container
  *ngIf="appState$ | async as appState"
  [ngSwitch]="appState.dataState"
  >
  <!-- <ng-container *ngSwitchCase="DataState.LOADING_STATE">
    <div class="col-md-12 single-note-item text-center">
      <div class="spinner-border text-info" role="status"></div>
    </div>
  </ng-container> -->
  <ng-container *ngSwitchCase="DataState.LOADED_STATE">
    <div style="display: flex;justify-content: center;margin-top: 10%;">

    <div class="card text-dark bg-warning mb-3"  style="max-width: 18rem;">
      <div class="card-header" style="text-align: center;font-size: larger; font-weight: bolder;">KATEGORİLER</div>
        <div class="card-body bg-info" >
          <a (click)="goServers(2)">
          <h5 class="card-title" style="text-align: center;">Merkez Sunucular </h5>
          <p class="card-text">Merkez Kategorideki sunucu bilgileri listelenir</p></a>
        </div>
        <div class="card-body bg-success">
          <a (click)="goServers(3)">
          <h5 class="card-title" style="text-align: center;">FTP ve Uzak Masalar</h5>
          <p class="card-text">FTP ve Uzak Masaüstü bağlantı şifreleri</p></a>
        </div>
      </div> 
    </div>
  </ng-container>
  <ng-container *ngSwitchCase="DataState.ERROR_STATE">
    <div class="alert-danger">
      {{ appState.error }}
    </div>
  </ng-container>
</ng-container>