<nav class="navbar navbar-expand-lg navbar-dark bg-info">
  <a class="navbar-brand" style="color:white;">Server Yönetim Sistemi</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>
</nav>


<div class="container-fluid">
  <div class="table-responsive-md">
    <div class="table-wrapper">
      <div class="table-title table-secondary">
        <div class="row" style="margin-top: 1%;">
          
          <div class="col-sm-6">
            <a href="#updateEmployeeModal" (click)="updateServer(null)" class="btn btn-success" data-toggle="modal" >
             <i class="medium material-icons">add</i> <span>Yeni Server</span>
            </a>
          </div>

          <div class="col-sm-6" style="text-align: right;">
            <a href="/kategori" class="btn btn-secondary" >
              <i class="medium material-icons">undo</i>&nbsp; <span>Kategoriler</span>
            </a>
            <button (click)="printReport()" type="button" class="btn btn-warning">
              <i class="medium material-icons">print</i><span>Çıktı Al</span>                
            </button>&nbsp;            
            <span>              
              <select (ngModelChange)="filterServers($event)" name="status" ngModel="ALL" class="btn btn-info" style="height: 32.91px">
                <option value="ALL">TAMAMI</option>
                <option value="SERVER_UP">AKTİF</option>
                <option value="SERVER_DOWN">KAPALI</option>
              </select>              
            </span>
          </div>

        </div>
      </div>
      <br />
      <ng-container *ngIf="appState$ | async as appState" [ngSwitch]="appState.dataState">
        <ng-container *ngSwitchCase="DataState.LOADING_STATE">
          <div class="col-md-12 single-note-item text-center">
            <div class="spinner-border text-info" role="status"></div>
          </div>
        </ng-container>
        <ng-container *ngSwitchCase="DataState.LOADED_STATE">
          <table class="table table-striped table-hover table-secondary" id="servers">
            <thead>
              <tr>
                <th>SUNUCU ADI</th>
                <th>IP ADRES</th>
                <th>AÇIKLAMALAR</th>
                <th>KULLANICI ADI</th>
                <th>ŞİFRE</th>
                <th>SUNUCU DURUMU</th>
                <th>Ping</th>
                <th>KALDIR</th>
                <th>GÜNCELLEME  </th>
              </tr>
            </thead>
            <tbody
              *ngFor="let server of appState.appData.data.servers;
                let i = index">
              <tr>
                <td>{{ server.serverName }}</td>
                <td>{{ server.ipAddress }}</td>
                <td>{{ server.detail }}</td>
                <td>{{ server.kullanici_adi }}</td>
                <td>{{ server.password }}</td>
                <td>
                  <span
                    class="badge"
                    [ngClass]="[
                      server.status=== Status.SERVER_UP
                        ? ' badge-success'
                        : ' badge-danger'
                    ]"
                  >
                    {{
                      server.status === Status.SERVER_UP
                        ? "ÇALIŞIYOR"
                        : "KAPALI"
                    }}
                  </span>
                </td>
                <td>
                  <a
                    (click)="pingServer(server.ipAddress)"
                    style="cursor: pointer"
                  >
                    <i
                      *ngIf="
                        (filterStatus$ | async) === '' ||
                        (filterStatus$ | async) !== server.ipAddress
                      "
                      class="material-icons"
                      title="Ping server"
                      >&#xe328;</i
                    >
                    <i
                      *ngIf="(filterStatus$ | async) === server.ipAddress"
                      class="fa fa-spinner fa-spin"
                      style="font-size: 24px"
                    ></i>
                  </a>
                </td>
                <td>
                  <a href="#deleteEmployeeModal" class="btn btn-danger" data-toggle="modal" (click)="deleteServer(server.id)">
                    <i class="medium material-icons">delete</i> <span>SİL</span>
                  </a>
                </td>
                <td>
                  <a href="#updateEmployeeModal" class="btn btn-info" data-toggle="modal" (click)="updateServer(server)">            
                    <i class="medium material-icons">update</i> <span>GÜNCELLE</span>
                  </a>
                </td>                 
              </tr>
            </tbody>
          </table>
        </ng-container>
        <ng-container *ngSwitchCase="DataState.ERROR_STATE">
          <div class="alert-danger">
            {{ appState.error }}
          </div>
        </ng-container>
      </ng-container>
    </div>
  </div>
</div>



<!-- Update server Modal HTML -->
<div id="updateEmployeeModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <form [formGroup]="yeniForm" (ngSubmit)="formSubmit()">
        <div class="modal-header">
          <h4 class="modal-title">Server Bilgi Giriş</h4>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-hidden="true"
          >
            &times;
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label>IP ADRES</label>
            <input
              type="text"
              
              formControlName="ipAddress"
              class="form-control"
              required
            />
          </div>
          <div class="form-group">
            <label>Sunucu Adı</label>
            <input
              type="text"
              formControlName="serverName"
              class="form-control"
              required
            />
          </div>
          <div class="form-group">
            <label>Açıklamalar</label>
            <input
              type="text"
              formControlName="detail"
              class="form-control"
              required
            />
          </div>
          <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
              <div class="form-group">
                <label>Kullanıcı adı</label>
                <input
                  type="text"
                  formControlName="kullanici_adi"
                  class="form-control"
                  required
                />
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
              <div class="form-group">
                <label>Şifre</label>
                <input
                  type="text"
                  formControlName="password"
                  class="form-control"
                  required
                />
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>Status</label>
            <select
              class="form-control"
              formControlName="status"
              required
            >
              <option value="SERVER_UP">SERVER UP</option>
              <option value="SERVER_DOWN">SERVER DOWN</option>
            </select>
          </div>        
          <div class="form-group"> 
              <label>Kategori Seçiniz</label>
              <select  class="form-control"  formControlName="categoryId">
                <option *ngFor="let kategori of kategoriler" [value]="kategori.value">{{kategori.text}}</option>
              </select>        
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-warning" id="closeModal" data-dismiss="modal" >
           <i class="medium material-icons">cancel</i><span>Kapat</span>
          </button>
          <button type="submit" class="btn btn-success"> 
            <i class="medium material-icons">save</i><span >Kaydet</span>
        </button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Delete server Modal HTML -->
<div id=  "deleteEmployeeModal" class=" modal fade"tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form [formGroup]="yeniForm" (ngSubmit)="formDelete()">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModelLabel">Sunusu Silme İşlemi</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Sunucuyu silmek istiyor musun ?</p>          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-warning"  id="closeModal"  data-dismiss="modal">
            <i class="medium material-icons">close</i><span>Kapat</span>
          </button>
          <button type="submit" class="btn btn-success">
            <i class="medium material-icons">delete</i> <span >Şutla</span>
          </button>
          <button type="button" class="btn btn-danger" (click)="pasifYap()">
            <i class="medium material-icons">delete_sweep</i> <span >Pasife Al</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<notifier-container></notifier-container>
